.center {
	text-align: center;
}
.centered {
}

h1 {
	width: 325px; 
	height: auto;
	padding-left: 55px;
}

/*.btn {
	width: 45px;
	height: 25px;
	margin:  2px;
	padding: 10px;
}*/

.calculator {
	width: 400px; 
	margin: 10px auto;
	border: 1px dotted black;
}

#display {
	width: 300px;
	border: 2px solid black;
}

#calculator {
	width: 350px; 
	height: auto;

	margin: 30px auto;
	padding: 20px 20px 9px;

	border: 1px solid black;

}